{% extends "base.html"%}
{% block meta_description %}Ashish Kedia's (ashish1294) Personal Website. A coder. Disconnected and Determined. Find out all about me !{% endblock %}
{% block title %}Ashish Kedia | About Me {%endblock%}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive-accordion.css' %}">
{% endblock %}
{% block content %}
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                 About Me
            </p>
            <p class="right">
                 Hello !
            </p>
        </div>
    </div>
</div>
<div class="hr"></div>
<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>All About Me</h4>
        </div>
        Like everyone else, I have to lot to tell about myself. Here I have tried to tabulate
        every important thing about me :)You can also
        <a href="https://www.google.com/?q=ashish+kedia+1294">Google Me</a> or 
        <a href="/contact#find_on_web">Find</a> out more about me via web.
        <br/> <br/>
        <div class="six columns">
            <table>
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td>Ashish Kedia</td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td>:</td>
                    <td>1st February, 1994</td>
                </tr>
                <tr>
                    <td>Hobbies</td>
                    <td>:</td>
                    <td>Reading Blogs, Star Gazing, TV Shows</td>
                </tr>
                <tr>
                    <td>Good At</td>
                    <td>:</td>
                    <td>Coding, Hiking, Yoga, Keeping Secrets</td>
                </tr>
                <tr>
                    <td>Ask Me</td>
                    <td>:</td>
                    <td>Google, Technology, Gadgets, Food</td>
                </tr>
                <tr>
                    <td>Music</td>
                    <td>:</td>
                    <td>Pink Floyd, The Beatles, Green Day, Cold Play, Lynyrd Skynyrd, Iron Maiden, Progressive Rock</td>
                </tr>
                <tr>
                    <td>Team</td>
                    <td>:</td>
                    <td><a href="https://github.com/Bug-Assassins">Bug Assassins</a></td>
                </tr>
            </table>
        </div>
        <div class="six columns">
            <table>
                <tr>
                    <td>Profession</td>
                    <td>:</td>
                    <td>Student (Information Technology Undergrad)</td>
                </tr>
                <tr>
                    <td>Native of</td>
                    <td>:</td>
                    <td>Rajasthan (India)</td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td>:</td>
                    <td>Noogler, Night-Owl, Adventurous, Awkward</td>
                </tr>
                <tr>
                    <td>Likes</td>
                    <td>:</td>
                    <td>Traveling, Meeting New People, Dining Out</td>
                </tr>
                <tr>
                    <td>Movies</td>
                    <td>:</td>
                    <td>Sci-Fi, Super-Hero, Psychological Thrillers</td>
                </tr>
                <tr>
                    <td>TV Shows</td>
                    <td>:</td>
                    <td>Daredevil, Death Note, Stien's Gate, Game of Thrones, Dexter</td>
                </tr>
                <tr>
                    <td>a.k.a</td>
                    <td>:</td>
                    <td>ashish1294</td>
                </tr>
            </table>
        </div>
        <br/>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <ul class="responsive-accordion accordion">
            <li>
                <div class="responsive-accordion-head title">
                    <h5>A Short Autobiography
                    <img src="{% static 'images/arrow.png' %}" style="width: 20px; float: right; vertical-align: center;" class="arrow"/></h5>
                </div>
                <div class="responsive-accordion-panel content">
                  <p> 
                    I am 21 years old. I am tall (about ~ 187cm) but I weigh about 128 lbs (58 kgs). My eyesight is a little weak mostly because of the 
                    long hours I spend in-front of display terminals. First thing, I do not like being social - 
                    mostly because I do not know what it exactly means! I belong to a very diverse Indian joint family of more than 20 people.
                    I like music + hot cappuccino + black / green terminal and that is why I am often seen with all three of it. Like most
                    engineers in India, I usually sleep late at night. I like watching movies, music videos, TV Shows, Animes and Documentaries.
                    Apart from Computer Science, I am also interested in particle physics. My Primary Gods include - David Gilmour, Stephen Hawking,
                    Steve Jobs and Alan Turing.
                  </p>
                  <p>
                    My failures have motivated me more than my achievements. I work as hard as possible. I am usually good at working under pressure
                    with an upcoming deadline to meet. I also like self-learning usually via web. I hate reading books - novels, technical,
                    academic, etc - all of it. I am not patient enough to read a whole book. I love debating especially technical debate among
                    a small set of people. I am rarely angry. I am a vegetarian and like trying out new dishes and cuisine. I maintain a digital
                    diary and occasionally write stuff. I have traveled through 21/29 states in India. I have visited 2 other countries apart from
                    India i.e., UAE and US. 
                  </p>
                  <p>
                    I grew up in Kolkata, India along with a number of cousins. So my childhood was a happy one (:P). I was only an above-average
                    student at my primary school. I was always good with Mathematics. After primary education, I attended Birla High School - one
                    of the best schools in Eastern India. It played a pivotal role in my academic career. However, I failed to get a branch of my
                    choice in any of the IITs and thus I joined NITK Surathkal. I made a lot of friends here. I learn a lot here - everyday. I took
                    up a couple of leadership roles too. Currently, I am in my senior year. I try to learn from everyone here. I also try to help
                    others as much as possible. I lived in Mumbai for a couple of months  - which was awesome. I also went to San Francisco to
                    intern at Google during summer 2015 - which by far is the most prominent achievement of my life.
                  </p>
                  <p>
                    I use ashish1294 as the username / handle for most of my web accounts. It represents my date of birth i.e., 1294 = 1/2/94. <br/>
                    My team i.e., Bug Assassins is one of the most important things in my life.
                  </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Quotes that have Inspired me</h4>
        </div>
        These are short but powerful quotes which have shaped me. They inspire me and keeps me motivated  all the time. Yes, there is some magic in them !
        <div id="testimonials">
            <blockquote>
                <p>"There is no secret ingredient !" <cite>Kung Fu Panda</cite></p>
            </blockquote>
            <blockquote>
                <p> "Remember hope is a good thing, maybe the best of things, and no good thing ever dies. Fear can hold you prisoner hope can set you free"<cite>The Shawshank Redemption</cite></p>
            </blockquote>
            <blockquote>
                <p>
                    "You might never fail on the scale I did, but some failure in life is inevitable. It is impossible to live without failing at something, unless you live so cautiously that you might as well not have lived at all - in which case, you fail by default." <cite>J. K. Rowling</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "It's only after we've lost everything that we're free to do anything" <cite>Tyler Durden, Fight Club (Movie)</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "Experience is what you get when you didn't get what you wanted. And experience is often the most valuable thing you have to offer." <cite>Randy Pausch, The Last Lecture</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "The training is nothing. The will is everything. The will to act ! " <cite>Ras Al Ghul, Batman Begins</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "You are not haunted by war, you miss it !" <cite>Sherlock Holmes</cite>
                </p>
            </blockquote>
            <blockquote>
                <p>
                    "Everyday life is like programming, I guess. If you love something you can put beauty into it. " <cite>Donald Knuth</cite>
                </p>
            </blockquote>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/responsive-accordion.js' %}"></script>
{% endblock%}