{% extends "base.html"%}
{%block title%}Ashish Kedia | Academic Career {%endblock%}
{% load staticfiles %}
{%block head%}
    <style type="text/css">
        .list_para {
            padding-left: 20px;
            margin-bottom: 10px;
        }
        .techskill p{
            text-decoration: underline;
            font-weight: bold;
            font-size: larger;
            text-align: center;
        }
        .techskill span {
            font-weight: 900;
        }
        .title {
            border : 1px solid #e9e9e9;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive-accordion.css' %}">
{% endblock %}
{% block content%}
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                 My Academic Career
            </p>
            <p class="right">
                 <a href="/career/professional">View my Professional Career</a>
            </p>
        </div>
    </div>
</div>
<div class="hr">
</div>
<div class="row">
    <div class="twelve columns">
        <h1><b>Undergrad <span style="float: right;">2012 - 2016</span></b></h1>
        <hr/>
        <p>
            I am currently pursuing my undergraduate education at the National Institute of Technology, Karnataka, Surathkal, India. It is an institute of national importance and also one of the most prestigious engineering institutes in India. It is the only institute in India to have it's own private beach. <a href="http://beachsideblues.com/">BeachSideBlues</a> is our student website. The academic curriculum is pretty challenging and hectic. I attend 30+ hours of lectures and dedicate another 15+ hour for extra academic activities each week. I have been able to maintain consistency in my academic performance at NITK.
        </p>
        <p>
            I have tried to explored a lot of opportunities in NITK - Academic Research Work, Open Source Contribution, Freelancing, Competitive Programming, Start Ups and Multinational Companies. In essence, I have tried to do a bit of everything. This has helped me discover myself.
        </p>
        <div class="centersectiontitle">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>Institute</b> : <a href="http://nitk.ac.in/" target="_blank">National Institute of Technology Karnataka, Surathkal, India</a>. (<a href="https://drive.google.com/open?id=0B6A-3_6rwie9NWlYSnZiSk1SUFk&authuser=0" target="_blank">click here</a> to view proof of enrollment)
        </p>
        <p class="list_para">
            &#x2714; <b>Degree</b> : Bachelor of Technology (B.Tech)
        </p>
        <p class="list_para">
            &#x2714; <b>Major / Branch</b> : <a href="http://infotech.nitk.ac.in/" target="_blank">Information Technology</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Expected Date of Graduation</b> : 10<sup>th</sup> May, 2016
        </p>
        <p class="list_para">
            &#x2714; <b>Cumulative GPA</b> : {{cgpa}} / 10.00, after 5<sup>th</sup> Semester. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9dmVqbWFEd3NUa2M&authuser=0" target="_blank">Click here</a> to view my Transcript.
        </p>
        <p class="list_para">
            &#x2714; <b>Admission Test</b> : AIEEE 2012 (National Rank 5050), IIT-JEE 2012 (National Rank 5900)
        </p>
        <br/>
        
        <ul class="responsive-accordion accordion">
            <li>
                <div class="responsive-accordion-head title">
                    <h5>List of Courses Completed
                    <img src="{% static 'images/arrow.png' %}" style="width: 20px; float: right; vertical-align: center;" class="arrow"/></h5>
                </div>
                <div class="responsive-accordion-panel content">
                    <div class="row techskill">
                        <div class="six columns">
                            <ul>
                                {% for course in course_left %}
                                    <li>{{course}}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="six columns">
                            <ul>
                                {% for course in course_right %}
                                    <li>{{course}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="twelve columns"> * = <i>ongoing courses</i> </div>
                    </div>
                </div>
            </li>
            <br/>
            <li>
                <div class="responsive-accordion-head title">
                    <h5>Clubs &amp; Societies
                    <img src="{% static 'images/arrow.png' %}" style="float: right; width: 20px; vertical-align: center;" class="arrow"/> </h5>
                </div>
                <div class="responsive-accordion-panel content">
                    <div class="row">
                        <div class="four columns">
                            <ul>
                                <li><a href="http://ewh.ieee.org/sb/bangalore/nitk/" target="_blank">NITK IEEE Student Branch</a></li>
                                <li><a href="https://webclub-nitk.github.io/" target="_blank">Web Enthusiast's Club, NITK Surathkal</a></li>
                                <li><a href="http://beachsideblues.com/clubs/hobbies/star-gazing-club/" target="_blank">Amateur Astronomy Club</a></li>
                                <li><a href="http://blog.codechef.com/2014/08/16/nitk-codechef-campus-chapter-we-learn-together/" target="_blank">NITK CodeChef Campus Chapter</a></li>
                                <li><a href="https://www.facebook.com/NITKHackerrankClub" target="_blank">NITK Surathkal Hackerrank Club</a></li>
                                <li>Student Member, ACM</li>
                            </ul>
                        </div>
                        <div class="eight columns" style = "border-left: 1px solid grey;">
                            I am actively involved with various clubs and societies managed by undergraduate students in my institute. There are regular meetings as a part of these societies where like-minded people come together and discuss various technical problems that they are facing and possible solutions to those problems. There are regular talks where the speaker(s) shares his / her knowledge with the rest of the club members. It provides a perfect platforms for students to learn from their seniors and teach their juniors. Most of the discussion is beyond the academic curriculum of the institute. We also take up projects to learn more about upcoming state of the art technologies. We occasionally hangout together and go for weekend trips to take a break from regular routine.
                        </div>
                    </div> 
                </div>
            </li>
            <br/>
            <li>
                <div class="responsive-accordion-head title" id="semwise">
                    <h5>Semester Wise Academic Performance
                    <img src="{% static 'images/arrow.png' %}" style="float: right; width: 20px; vertical-align: center;" class="arrow"/> </h5>
                </div>
                <div class="responsive-accordion-panel content">
                    <div id="semwise_chart"></div>
                </div>
            </li>
        </ul>
        <br/>
        <h1><b>High School <span style="float: right;">2010 - 2012</span></b></h1>
        <hr/>
        <p>
            I attended Birla High School, Kolkata, one of the most prestigious schools in east India. Along with high school, I dedicated major chuck of my time towards preparation of engineering entrance examinations in India - IIT-JEE 2012 and AIEEE 2012. I attended <a href="http://www.fiitjee.com/">FIITJEE </a>, Kolkata a renowned training centre for engineering entrance examinations. At FIITJEE, I was enrolled in 2 year clasroom program course with 16 hrs of classroom
            teaching each week.
        </p>
        <div class="centersectiontitle">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>School</b> : <a href="http://www.birlahighschool.com/" target="_blank">Birla High School, Kolkata</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Affiliation</b> : <a href="http://cbse.nic.in/" target="_blank">Central Board of Secondary Education (CBSE)</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Stream</b> : Science
        </p>
        <p class="list_para">
            &#x2714; <b>Subjects</b> : English, Physics, Chemistry, Mathematics and Computer Science (C++, SQL and Networks)
        </p>
        <p class="list_para">
            &#x2714; <b>Final Score</b> : 92.4%
        </p>
        <p class="list_para">
            &#x2714; <b>Relevant Docs</b> : <a href="https://drive.google.com/open?id=0B6A-3_6rwie9TFE2bnRJSWlOQXc&authuser=0" target="_blank">CBSE Marsheet</a>, <a href="https://drive.google.com/open?id=0B6A-3_6rwie9cnZ4eTdYWktNZzg&authuser=0" target="_blank">12<sup>th</sup> Marksheet</a>, <a href="https://drive.google.com/open?id=0B6A-3_6rwie9ME5mN3FCOWRsSGc&authuser=0" target="_blank">11<sup>th</sup> Marksheet</a>, <a href="https://drive.google.com/open?id=0B6A-3_6rwie9Q3g2VXY0OWlXNUE&authuser=0" target="_blank">Character Certificate</a>
        </p>
        <br/>
        <ul class="responsive-accordion accordion">
            <li>
                <div class="responsive-accordion-head title">
                    <h5>Extra Activities and Achievements
                    <img src="{% static 'images/arrow.png' %}" style="width: 20px; float: right; vertical-align: center;" class="arrow"/></h5>
                </div>
                <div class="responsive-accordion-panel content">
                    <p class="list_para">
                        &#x2714; Attended workshop on Mathematics by University of Waterloo
                    </p>
                    <p class="list_para">
                        &#x2714; Participated in several Olympiads - Cyber, Mathematics, Physics and Chemistry
                    </p>
                    <p class="list_para">
                        &#x2714; Attended personality development sessions
                    </p>
                    <p class="list_para">
                        &#x2714; Selected for prestigious KVPY Fellowship
                    </p>
                </div>
            </li>
        </ul>
        <ul class="responsive-accordion accordion">
            <li>
                <div class="responsive-accordion-head title">
                    <h5>Engineering Entrance Exam Performance
                    <img src="{% static 'images/arrow.png' %}" style="width: 20px; float: right; vertical-align: center;" class="arrow"/></h5>
                </div>
                <div class="responsive-accordion-panel content">
                    <div class="row">
                        <div class="seven column">
                            <ul>
                                <li>Indian Institute of Technology Joint Entrance Exam 2012 - AIR 5900</li>
                                <li>Birla Institute of Technology and Science Admission Test 2012 - Score 273</li>
                                <li>Consortium of Medical, Engineering and Dental Colleges of Karnataka - AIR 58</li>
                                <li>Vellore Institute of Technology Engineering Entrance Examination 2012 - AIR 1270</li>
                            </ul>
                        </div>
                        <div class="five columns">
                            <ul>
                                <li>All India Engineering Entrance Exam 2012 - AIR 5050</li>
                                <li>West Bengal Joint Entrance Examination 2012 - AIR 420</li>
                                <li>Manipal University Entrance Test 2012- AIR 70</li>
                                <li>IIST Admission Test (ISAT) 2012 - AIR 168</li>
                            </ul>
                        </div>
                        <div class="twelve columns"> AIR = <i>All India Rank in General Merit List</i> </div>
                    </div>
                </div>
            </li>
        </ul>
        <br/>
        <h1><b>Primary School <span style="float: right;">2000 - 2010</span></b></h1>
        <hr/>
        <p>
            I attended Nopany High (a.k.a Shri Daulatram Nopany Vidyalaya). I studied there for 10 years at a stretch. Academically, I was always among the best performers in the class - especially in Mathematics. I started to learn advance Mathematics and Programming in my primary school itself. I also played a couple of leardership roles.
        </p>
        <div class="centersectiontitle">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>School</b> : <a href="http://www.nopanyhigh.com/" target="_blank">Nopany High, Kolkata</a> (formerly known as Shri Daulatram Nopany Vidyalaya)
        </p>
        <p class="list_para">
            &#x2714; <b>Affiliation</b> : <a href="http://www.wbbse.org/" target="_blank">West Bengal Board of Secondary Education (WBBSE)</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Score</b> : 85%. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9Rl9xR2JwSW80c2M&authuser=0" target="_blank">Click here</a> to view marksheet.
        </p>
    </div>
</div>
{% endblock%}
{% block scripts %}
    <script src="{% static 'js/responsive-accordion.js' %}"></script>
    <script src="{% static 'js/highcharts.js'%}"></script>
    <script type="text/javascript">
        Highcharts.theme = {
            colors: ["#f45b5b", "#8085e9", "#8d4654", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
            "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
            chart: {
                backgroundColor: null,
                style: {
                    fontFamily: "Signika, serif"
                }
            },
            title: {
                style: {
                    color: 'black',
                    fontSize: '16px',
                    fontWeight: 'bold'
                }
            },
            subtitle: {
                style: {
                    color: 'black'
                }
            },
            tooltip: {
                borderWidth: 0
            },
            legend: {
                itemStyle: {
                    fontWeight: 'bold',
                    fontSize: '13px'
                }
            },
            xAxis: {
                labels: {
                    style: {
                        color: '#6e6e70'
                    }
                }
            },
            yAxis: {
                labels: {
                    style: {
                        color: '#6e6e70'
                    }
                }
            },
            plotOptions: {
                series: {
                    shadow: true
                },
                candlestick: {
                    lineColor: '#404048'
                },
                map: {
                    shadow: false
                }
            },

            // Highstock specific
            navigator: {
                xAxis: {
                    gridLineColor: '#D0D0D8'
                }
            },
            rangeSelector: {
                buttonTheme: {
                    fill: 'white',
                    stroke: '#C0C0C8',
                    'stroke-width': 1,
                    states: {
                        select: {
                            fill: '#D0D0D8'
                        }
                    }
                }
            },
            scrollbar: {
                trackBorderColor: '#C0C0C8'
            },

            // General
            background2: '#E0E0E8'
            
        };

        // Apply the theme
        Highcharts.setOptions(Highcharts.theme);
        function show_semwise_performance()
        {
            $('#semwise_chart').css('width', $('.responsive-accordion-head').first().width());
            //$('#semwise_chart').css('background-image',"url({% static 'images/bg.png' %})");
            $('#semwise_chart').highcharts({
                chart: {
                    type: 'column',
                    plotBackgroundColor : '#FFF1F1',
                    //plotBackgroundImage: "{% static 'images/bg.png' %}"

                },
                title: {
                    text: 'Cummulative GPA : {{cgpa}}',
                    style : {
                        fontSize : '21px',
                        fontWeight : 'bold', 
                    }
                },
                xAxis: {
                    categories: [
                        {% for s in semwise %}
                            'Semester {{forloop.counter}}',
                        {% endfor %}
                    ],
                    title : {
                        text : 'Semester',
                        style : {
                            fontSize : '17px',
                            fontWeight : 'bold', 
                        }
                    },
                },
                yAxis: {
                    min: 9,
                    max : 10,
                    title: {
                        text: 'Semester Grade Point Assesment (SGPA)',
                        style : {
                            fontSize : '17px',
                            fontWeight : 'bold', 
                        }
                    }
                },
                legend : {
                    enabled : false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:15px; font-weight: bold;">{point.key}</span> <br/>',
                    pointFormat: '<span style="color:{series.color};padding:0">SGPA : </span>' +
                        '<span style="padding:0"><b>{point.y:.2f}</b></span> <br/>' + 
                        '<span style="color:{series.color};padding:0">Credits : </span>' +
                        '<span style="padding:0"><b>{point.credit}</b></span>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Grade',
                    data: [
                        {% for s in semwise %}
                            {
                                y : {{s.0}},
                                credit : {{s.1}},
                            },
                        {% endfor %}
                    ],
                    color : '#FF7373'
                },
                ]
            });
        }
        $('#semwise').click(function() {
            show_semwise_performance();
        });
    </script>
{% endblock%}