{% extends "base.html" %}
{% block title %}Ashish Kedia | Achievements {% endblock %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive-accordion.css' %}">
{% endblock %}
{% block content %}
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                     My Achievements !
                </p>
                <p class="right">
                     A lot more to come !
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <div class="row">
        This page has a list of all the major honors or awards that I have received.
        <div class="twelve columns">
            <div class="centersectiontitle">
                <h4>Achievements during UG at NITK</h4>
            </div>
            <ul>
                <li> <b> Convenor, Web Enthusiast's Club NITK </b> : I am the convenor (head) of <a href="https://webclub-nitk.github.io/people.html">Web Enthusiast's Club NITK</a>
                    for the academic year of 2015-2016.</li> <br/>
                <li><b>DAAD WISE 2015</b> : Was selected as <a href="https://www.daad.de/deutschland/stipendium/datenbank/en/21148-scholarship-database/?daad=1&detail=50015295">DAAD WISE</a>
                    (Deutscher Akademischer Austauschdienst Working Internships in Science and Engineering) Fellowship for a 10 week funded intenship in Germany. However, I chose to
                    decline the offer. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9Y0tUaDFkX1g1ZGM&authuser=0">Click Here</a> to view the proof of award.</li> <br/>
                <li><b>Mitacs Globlink 2015 </b> : Was selected for <a href="https://www.mitacs.ca/en/programs/globalink/globalink-research-internship">Mitacs Globlink Research Internship</a>.
                      However, I had to decline the offer. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9Tlg0X3BZZHlMSWc&authuser=0">Click Here</a> to view the proof of award.</li> <br/>
                <li><b>Code.Fun.Do</b> : My team Bug-Assassins was Runner-Up in a 24-hr Hackathon Organized by Microsoft - <a href="">Code.Fun.Do</a> 2015. Currently competing at National 
                       Level from May to July 2015. Also received award for top Design in National Finals on 25th May, 2015. 
                       <a href="https://drive.google.com/open?id=0B6A-3_6rwie9S3BWMjhJM1F3cVE&authuser=0">Click Here</a> to view the proof of award.</li> <br/>
                <li><b>Miscellaneous</b> : Organized Multiple Talks, Sessions and Demonstrations to help juniors. Organized multiple events during Institute's technical fest. Won numerous
                    intra-institute competitions/events. </li> <br/>
            </ul>
            <div class="centersectiontitle">
                <h4>Programming Achievements</h4>
            </div>
            Competitive programming was once my primary hobby. I was very active on all the online judges.
            However, due to other commitments the time I spend now doing competitive programming has reduced
            considerably. I learned a lot about data structures and algorithms from competitive programming. 
            It also provided me with a platform to prove my coding abilities. <br/> <br/>
            <ul>
              <li><b>CodeChef SWAG</b> : I was ranked within top-10 in India multiple times for which I was awarded with CodeChef SWAG</li> <br>
              <li><b>ACM ICPC</b> : Participated in on-Site rounds of ACM ICPC Amritapuri Regionals in 2013 and 2014.
              <a href="https://drive.google.com/open?id=0B6A-3_6rwie9R0RHbUlaVG1aVU0&authuser=0">Click Here</a> 
              to view participation certificate. Our team was Bug Assassins. </li> </br>
              <li><b>IEEE Xtreme</b> : My team Bug Assassins, was ranked 4<sup>th</sup> in India, in IEEE Xtreme 7.0. 
              Global Rank was 146<sup>th</sup>, while rank rank among 'C' programmers was 1<sup>st</sup> . It was a 
              24hr Programming Contest. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9TnU4akpRY2U2M1U&authuser=0">
              Click Here</a> to view proof of Rank. </li>
            </ul>
            <br/>
            <ul class="responsive-accordion accordion">
                <li>
                    <div class="responsive-accordion-head title">
                        <h5>Presence on Programming Arena 
                        <img src="{% static 'images/arrow.png' %}" style="width: 20px; float: right; vertical-align: center;" class="arrow"/></h5>
                    </div>
                    <div class="responsive-accordion-panel content">
                        <div class="six columns">
                            <table class="webcontacttable comptable">
                                <tr>
                                    <td><img src=""/><a href="http://www.codechef.com/">CodeChef</a></td>
                                    <td>:</td>
                                    <td><a href="http://www.codechef.com/users/ashish1294">ashish1294</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://codeforces.com/">CodeForces</a></td>
                                    <td>:</td>
                                    <td><a href="http://codeforces.com/profile/ashish1294">ashish1294</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.spoj.com/">SPOJ</a></td>
                                    <td>:</td>
                                    <td><a href="http://www.spoj.com/users/ashish1294/">ashish1294</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="six columns">
                            <table class="webcontacttable">
                                <tr>
                                    <td><a href="https://www.topcoder.com/">TopCoder</a></td>
                                    <td>:</td>
                                    <td><a href="https://www.topcoder.com/member-profile/ashish1294/algorithm">ashish1294</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.hackerrank.com/">Hackerrank</a></td>
                                    <td>:</td>
                                    <td><a href="https://www.hackerrank.com/ashish1294">ashish1294</a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.hackerearth.com/">HackerEarth</a></td>
                                    <td>:</td>
                                    <td><a href="https://www.hackerearth.com/users/ashish4">ashish4</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <li>
            </ul> 
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/responsive-accordion.js' %}"></script>
{% endblock %}