<!DOCTYPE html>
<!--  
      Hi, I specially like people who see the page source. Let's get in touch !
      This is the source-code of https://www.ashishkedia.me
      Author : Ashish Kedia
      Year : 2015
-->
<html class="no-js" lang="en" style="min-height: 100%;">
<head>
    <meta charset="utf-8"/>
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title%}{%endblock%}</title>
    <!-- CSS Files-->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {%block head%}{%endblock%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/skins/pink.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/face.png' %}">
</head>
<body background="{% static 'images/bg.png' %}">
    <!-- HIDDEN PANEL 
    ================================================== -->
    <div id="panel">
        <div class="row">
            <div class="twelve columns">
                <img src="{% static 'images/info.png' %}" class="pics" alt="info">
                <div class="infotext">
                    Thank you for visiting my website. Hope you got what you were looking for :)
                </div>
            </div>
        </div>
    </div>
    <p class="slide">
        <a href="#" class="btn-slide"></a>
    </p>

    <!-- HEADER
    ================================================== -->
    <div class="row" style="">  
        <div class="four columns">
            <div class="logo">
                <a href="/"><h4>Ashish Kedia, <span style="color: grey; font-size: 20px;">Bug Hunter</span></h4></a>
            </div>
        </div>
        <div class="eight columns noleftmarg">      
            <nav id="nav-wrap">
                <ul class="nav-bar sf-menu">
                    <li {% if page == 'home' %} class="current" {% endif %}> <a href="/">Home</a> </li>
                    <li {% if page == 'portofolio' %} class="current" {% endif %}> <a href="/portofolio">Skills</a>
                        <ul>
                            <li><a href="/portofolio#projects" name="projects">Past Projects</a></li>
                            <li><a href="/portofolio#skills" name="skills">Technical Skills</a></li>
                            <li><a href="/portofolio#research" name="research">Research Work</a></li>
                        </ul>
                    </li>
                    <li {% if page == 'career' %} class="current" {% endif %}> <a href="/career/academic">Career</a>
                        <ul>
                            <li><a href="/career/academic">Academic Career</a></li>
                            <li><a href="/career/professional">Professional Career</a></li>
                        </ul>
                    </li>
                    <li {% if page == 'achievements' %} class="current" {% endif %}> <a href="/achievements">Achievements</a> </li>
                    <li {% if page == 'blog' %} class="current" {% endif %}> <a href="/blog">Blog</a> </li>
                    <li {% if page == 'contact' %} class="current" {% endif %}> <a href="/contact">Contact</a> </li>
                </ul>
            </nav>
        </div>  
    </div>
    <div class="clear">
    </div>
    {%block content%}{%endblock%}
    <!-- TWITTER
    ==================================================
    <div class="tweetarea">
        <div class="tweettext">
            <div class="row">
                <div class="twelve columns">
                    <div class="tweet">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--<div class="fakeheight"></div>-->
    <!-- FOOOTER 
    ================================================== -->
    <div id="footer">
        <footer class="row">
        <p class="back-top floatright">
            <a href="#top"><span></span></a>
        </p>
        <div class="three columns">
            <h1>THIS WEBSITE</h1>
                 Powered by django. <br/>
                 Credits : <a href="https://jquery.com/">JQuery</a>, <a href="http://www.wowthemes.net/">WowThemes</a>, <a href="https://github.com/">GitHub</a> <br />
                 This site is non-commercial.
        </div>
        <div class="two columns" style="display:table-cell; vertical-align:middle; text-align:center">
            <img src="{% static 'images/PositiveSSL_tl_trans.png' %}" alt="Certified by Positive SSL" title="Certified by Positive SSL" border="0" />
        </div>
        <div class="three columns">
            <h1>FOR NERDS</h1>
            This connection is encrypted. <br />
            <a href="/sitemap">View Site Map</a> <br/>
            Unique Visitors on this Page - {{visitors}}
        </div>
        <div class="four columns">
            <h1 class="newsmargin">SEARCH THIS SITE</h1>
            <div class="row collapse newsletter floatright">
                <div class="ten mobile-three columns">
                    <form action="/search" method="get" target="_blank">
                        <input type="text" class="nomargin" name="q" placeholder="Enter Keyword...">
                </div>
                <div class="two mobile-one columns">

                    <input type="submit" class="postfix button expand" value="GO">
                </div>
            </div>
        </div>
        </footer>
    </div>
    <div class="copyright" style="bottom: 0; color: white;">
        <div class="row">
            <div class="six columns">
                 &copy;<span class="small" style="color: white;"> 2015, Ashish Kedia</span>
            </div>
            <div class="six columns">
                <span class="small floatright" style="color: white;">This website is powered by django. <a href="http://www.github.com/ashish1294/PersonalWebsite" class="">See Website Code</a></span>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPTS 
    ================================================== -->
    <!-- Javascript files placed here for faster loading -->
    <script src="{% static 'js/foundation.min.js' %}" ></script>   
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/elasticslideshow.js' %}"></script>
    <script src="{% static 'js/jquery.carouFredSel-6.0.5-packed.js' %}"></script>
    <script src="{% static 'js/jquery.cycle.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/modernizr.foundation.js' %}"></script>
    <script src="{% static 'js/slidepanel.js' %}"></script>
    <script src="{% static 'js/scrolltotop.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.js' %}"></script>
    <script src="{% static 'js/responsivemenu.js' %}"></script>
    {%block scripts%}{%endblock%}
    <script type="text/javascript">
        function set_footer_location()
        {
            //alert('called');
            body = document.getElementsByTagName('body')[0]
            html = document.getElementsByTagName('html')[0]
            bodybox = body.getBoundingClientRect();
            htmlbox = html.getBoundingClientRect();
            if (bodybox.bottom != htmlbox.bottom )
            {
                diff = (htmlbox.bottom - bodybox.bottom) + "px";
                document.getElementsByClassName('fakeheight')[0].style.paddingTop = diff;
            }
        }
        window.onload = set_footer_location();
    </script>
</body>
</html>