{% extends 'base.html' %}
{% block title%}Ashish Kedia | Path of Errors  | Blog{% endblock %}
{% load staticfiles %}
{% block head %}{% endblock %}
{% block content %}
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                     Path of Errors
                </p>
                <p class="right">
                     My Blog !
                </p>
            </div>
        </div>
    </div>
    <h1>
        Coming Soon!
    </h1> <br/>
    <h3 class="subheader">Keep Watching this space for updates!</h3> <br />
    <h3 class="subheader"><a href="/">Click Here</a> to head home.</h3> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
{% endblock %}