{% extends "base.html"%}
{%block title%}Ashish Kedia | Academic Career {%endblock%}
{% load staticfiles %}
{%block head%}
    <style type="text/css">
        .list_para {
            padding-left: 20px;
            margin-bottom: 10px;
        }
        .techskill p{
            text-decoration: underline;
            font-weight: bold;
            font-size: larger;
            text-align: center;
        }
        .techskill span {
            font-weight: 900;
        }
    </style>
{% endblock %}
{% block content%}
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                 My Academic Career
            </p>
        </div>
    </div>
</div>
<div class="hr">
</div>
<div class="row">
    <div class="twelve columns">
        <h1><b>Undergraduation <span style="float: right;">2012 - 2016</span></b></h1>
        <hr/>
        <p>
            I am currently pursuing my undergraduate education at the National Institute of Technology, Karnataka, Surathkal, India. It is an institute of national importance and also one of the most prestigious engineering institutes in India. It is the only institute in India to have it's own private beach. <a href="http://beachsideblues.com/">BeachSideBlues</a> is a student website of my institute. The academic curriculum is pretty challenging and hectic. I attend 30+ hours of lectures and dedicate another 15+ hour for extra academic acticities each week. I have been able to maintain consistency in my academic performance at NITK.
        </p>
        <p>
            I have tried to explored a lot of opportunities in NITK - Academic Research Work, Open Source Contribution, Freelancing, Competitive Programming, Start Ups and Multinational Companies. This has helped me discover myself.
        </p>
        <div class="centersectiontitle" id="education">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>Institute</b> : <a href="http://nitk.ac.in/" target="_blank">National Institute of Technology Karnataka, Surathkal, India</a>. (<a href="https://drive.google.com/open?id=0B6A-3_6rwie9NWlYSnZiSk1SUFk&authuser=0" target="_blank">click here</a> to view proof of enrollment)
        </p>
        <p class="list_para">
            &#x2714; <b>Degree</b> : Bachelor of Technology (B.Tech)
        </p>
        <p class="list_para">
            &#x2714; <b>Major / Branch</b> : <a href="http://infotech.nitk.ac.in/" target="_blank">Information Technology</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Expected Date of Graduation</b> : 10<sup>th</sup> May, 2016
        </p>
        <p class="list_para">
            &#x2714; <b>Cummulative GPA</b> : 9.47 / 10.00, after 5<sup>th</sup> Semester. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9dmVqbWFEd3NUa2M&authuser=0" target="_blank">Click here</a> to view my Transcript.
        </p>
        <p class="list_para">
            &#x2714; <b>Admission Test</b> : AIEEE 2012 (National Rank 5050), IIT-JEE 2012 (National Rank 5900)
        </p>
        <br/>
        <div class="centersectiontitle" id="education">
            <h4>Courses</h4>
        </div>
        <div class="row techskill">
            <div class="six columns">
                <ul>
                    <li>IT 200 - Data Structures and Algorithms</li>
                    <li>IT 201 - Digital Design and Computer Organization</li>
                    <li>IT 202 - Unix Programming and Practice</li>
                    <li>IT 203 - Computer Systems and Organization Lab</li>
                    <li>IT 204 - Data Structures and Algorithms Lab</li>
                    <li>IT 206 - Paradigms of Programming Part I</li>
                    <li>MA 200 - Graph Theory, Probability and Statistics</li>
                    <li>IT 250 - Operating Systems</li>
                    <li>IT 251 - Computer Communication and Networking</li>
                    <li>IT 252 - Design and Analysis of Algorithms</li>
                    <li>IT 253 - Paradigms of Programming Part II</li>
                    <li>IT 254 - Computer Graphics</li>
                    <li>IT 306 - Object Oriented Analysis and Design</li>
                    <li>IT 290 - Seminar</li>
                </ul>
            </div>

            <div class="six columns">
                <ul>
                    <li>HU 300 - Engineering Economics</li>
                    <li>IT 300 - Parallel Computing</li>
                    <li>IT 301 - Database Systems</li>
                    <li>IT 302 - Web Technologies and Applications</li>
                    <li>IT 303 - Automata and Compiler Design</li>
                    <li>IT 307 - Advance Computer Networks</li>
                    <li>IT 360 - Distributed Computing System</li>
                    <li>IT 350 - Software Engineering *</li>
                    <li>HU 302 - Principles of Management *</li>
                    <li>MA 204 - Linear Algebra anf Matrices *</li>
                    <li>IT 351 - Human Computer Interaction *</li>
                    <li>IT 352 - Information Assurance and Security *</li>
                    <li>IT 399 - Minor Project *</li>
                    <li>IT 450 - Web Services *</li>
                </ul>
            </div>
            <div class="twelve columns"> * = <i>ongoing courses</i> </div>
        </div>

        <div class="centersectiontitle" id="education">
            <h4>Clubs &amp; Socities</h4>
        </div>
        <div class="row">
            <div class="four columns">
                <ul>
                    <li><a href="http://ewh.ieee.org/sb/bangalore/nitk/" target="_blank">NITK IEEE Student Branch</a></li>
                    <li><a href="https://webclub-nitk.github.io/" target="_blank">Web Enthusiast's Club, NITK Surathkal</a></li>
                    <li><a href="http://beachsideblues.com/clubs/hobbies/star-gazing-club/" target="_blank">Amatuer Astronomy Club</a></li>
                    <li><a href="http://blog.codechef.com/2014/08/16/nitk-codechef-campus-chapter-we-learn-together/" target="_blank">NITK CodeChef Campus Chapter</a></li>
                    <li><a href="https://www.facebook.com/NITKHackerrankClub" target="_blank">NITK Surathkal Hackerrank Club</a></li>
                    <li>Student Member, ACM</li>
                </ul>
            </div>
            <div class="eight columns" style = "border-left: 1px solid grey;">
                I am actively involved with various clubs and societies managed by students. Like-minded people come together and discuss various technical problems that they are facing and possible solutions to those problems. There are regular talks where the speaker(s) shares his / her knowledge with the rest of the club members. It provides a perfect platforms for students to learn from their seniors and teach their juniors. Most of the discussion is beyond the academic curriculum of the institute. We occasionally hangout together and go for weekend trips to take a break from regular routine.
            </div>
        </div>
        <br />
        <h1><b>High School <span style="float: right;">2010 - 2012</span></b></h1>
        <hr/>
        <p>
            I attended Birla High School, Kolkata, one of the most prestigious schools in east India. Along with high school, I also dedicated a major chuck of my time towards preparation of engineering entrance examinations in India - IIT-JEE 2012 and AIEEE 2012. I also attended <a href="http://www.fiitjee.com/">FIITJEE </a>, Kolkata a renowned training centre for engineering entrance examinations.
        </p>
        <div class="centersectiontitle" id="education">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>School</b> : <a href="http://www.birlahighschool.com/" target="_blank">Birla High School, Kolkata</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Affiliation</b> : <a href="http://cbse.nic.in/" target="_blank">Central Board of Secondary Education (CBSE)</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Stream</b> : Science
        </p>
        <p class="list_para">
            &#x2714; <b>Subjects</b> : English, Physics, Chemistry, Mathematics and Computer Science (C++, SQL and Networks)
        </p>
        <p class="list_para">
            &#x2714; <b>Final Score</b> : 92.4%
        </p>
        <p class="list_para">
            &#x2714; <b>Relevant Docs</b> : <a href="https://drive.google.com/open?id=0B6A-3_6rwie9TFE2bnRJSWlOQXc&authuser=0" target="_blank">CBSE Marsheet</a>, <a href="https://drive.google.com/open?id=0B6A-3_6rwie9cnZ4eTdYWktNZzg&authuser=0" target="_blank">12<sup>th</sup> Marksheet</a>, <a href="https://drive.google.com/open?id=0B6A-3_6rwie9ME5mN3FCOWRsSGc&authuser=0" target="_blank">11<sup>th</sup> Marsheet</a>, <a href="https://drive.google.com/open?id=0B6A-3_6rwie9Q3g2VXY0OWlXNUE&authuser=0" target="_blank">Character Certificate</a>
        </p>
        <div class="centersectiontitle" id="education">
            <h4>Extra Activities</h4>
        </div>
        <p class="list_para">
            &#x2714; Attended worshop on Mathematics by University of Waterloo
        </p>
        <p class="list_para">
            &#x2714; Participated in several olympiads - Cyber, Mathematics, Physics and Chemistry
        </p>
        <p class="list_para">
            &#x2714; Attended personality development sessions
        </p>
        <p class="list_para">
            &#x2714; Selected for prestigious KVPY Fellowship
        </p>

        <h5><b>Primary School - Nopany High, Kolkata, India</b></h5>
        <hr/>
         
    </div>
</div>
{% endblock%}