{% extends "project.html" %}
{% load staticfiles %}
{% block description %}
	<p>
		It is a simple GUI based chess game that implements all basic OOP concepts using JAVA. Software Engineering Methods were used while designing, implementing and testing this project.
	</p>
	<p>
		This project was done as a part of the <i>Paradigm of Programming I</i> course during my undergrad between September 2013 to November 2013.
	</p>
{% endblock %}
{% block tabs %}
	<dl class="tabs">
        <dd class="active"><a href="#simple1">Features</a></dd>
        <dd><a href="#simple2">Tools Used</a></dd>
    </dl>
    <ul class="tabs-content">
        <li class="active" id="simple1Tab">
        	<ul class="disk">
        		<li>GUI Developed using Java Swing</li>
        		<li>Backtracking to determine all possible moves of a piece</li>
        		<li>Greedy Approach to determine if the move results in a potential win/loss</li>
        		<li>A number of GUI Event Handlers were implemented</li>
        	</ul>
        </li>
        <li id="simple2Tab">
        	<ul class="disk">
        		<li><b>ArgoUML</b> for Use Case and Activity Diagrams</li>
        		<li><b>Eclipse</b> for Codes and GUI</li>
        		<li><b>Git</b> for version control </li>
        		<li><b>JUnit</b> for Testing</li>
        	</ul>
        </li>
    </ul>
{% endblock %}