{% extends "base.html" %}
{% block meta_description %}Ashish Kedia's (ashish1294) Personal Website. Contact Details {% endblock %}
{% block title %}Ashish Kedia | Contact Me{% endblock %}
{% load staticfiles %}
{% block head %}{% endblock %}
{% block content %}
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="left">
                     Contact Me
                </p>
                <p class="right">
                     Get in touch today !
                </p>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <div class="row">
        <div class="twelve columns">
            <div class="wrapcontact">
                {% if message %}
                    <div class="done alert-box {{messagetype}}">
                        {{message}} <a href="" class="close">x</a>
                    </div>
                {% endif %}
                <h5>Ping me Quickly</h5>
                <div class="sociallist twelve columns">
                    <span class="socialemail"></span>Email : ashishkedia [at] google [dot] com, ashish1294 [at] gmail [dot] com <br /> <br />
                    <span class="socialphone"></span>Phone : <a href="tel:+919986978059">+91 9986978059</a> <br /><br/>
                    <span class="socialirc"></span>IRC : <a href="irc://irc.freenode.net/ashish1294,isnick">ashish1294 @ freenode</a> <br /> <br/> <br/>
                </div>
                
                <div class="hr"></div>
                <h5>Or Visit Me</h5>
                <div class="sociallist three columns">
                    <span class="socialhome"></span>Permanent Address :  
                </div>
                <div class="three columns">
                    Kedia Mansion, <br/>
                    9, Sonar Gouranga Temple Street, <br/>
                    Near B.K.Paul Avenue, Sovabazar <br/>
                    Kolkata - 700005, WB, India<br/> 
                    <a href="https://maps.google.com/maps?q=22.595708,88.360150">View on Google Maps</a> <br /><br/> <br/>
                </div>
                <div class="sociallist three columns">
                    <span class="socialhome"></span>Hostel Address :  
                </div>
                <div class="three columns">
                    Room C501, Mega Tower I (Grey) <br/>
                    National Institute of Technology Karnataka, Surathkal <br/>
                    Mangalore - 575025, KR, India<br/> 
                    <a href="https://maps.google.com/maps?q=13.007919,74.794966">View on Google Maps</a> <br /> <br/> <br/>
                </div>
                
                <h5>Or Leave A Message For Me</h5>
                <form method="post" action="/contact" id="contactform">
                    {% csrf_token %}
                    <div class="form">
                        <div class="six columns noleftmargin">
                            <label>Name</label>
                            <input type="text" name="name" class="smoothborder" placeholder="Your name *"/ maxlength="100">
                        </div>
                        <div class="six columns">
                            <label>E-mail address</label>
                            <input type="text" name="email" class="smoothborder" placeholder="Your e-mail address *" maxlength="500"/>
                        </div>
                        <label>Message</label>
                        <textarea id= "vvf" name="message" class="smoothborder ctextarea" rows="8" placeholder="Message, feedback, comments *"></textarea>
                        <input type="submit" id="submit" class="readmore" value="Submit" name="submit">
                    </div>
                </form>

                <div class="hr"></div>
                <h5 id="find_on_web">Or Find Me on Web</h5>
                <div class="sociallist six columns">
                    <table class="webcontacttable">
                        <tr>
                            <td><span class="socialgithub"></span>GitHub</td>
                            <td>:</td>
                            <td><a href="https://github.com/ashish1294">ashish1294</a></td>
                        <tr/>
                        <tr>
                            <td><span class="socialfacebook"></span>Facebook</td>
                            <td>:</td>
                            <td><a href="https://www.facebook.com/ashish1294">Ashish Kedia</a></td>
                        <tr/>                      
                        <tr>
                            <td><span class="socialgoogle"></span>Google+</td>
                            <td>:</td>
                            <td><a href="https://plus.google.com/114041575796730182226/">Ashish Kedia</a></td>
                        <tr/>
                        <tr>
                            <td><span class="socialquora"></span>Quora</td>
                            <td>:</td>
                            <td><a href="https://www.quora.com/Ashish-Kedia">Ashish Kedia</a></td>
                        <tr/>
                    </table>
                </div>
                <div class="sociallist six columns">
                    <table class="webcontacttable">
                        <tr>
                            <td><span class="socialskype"></span>Skype</td>
                            <td>:</td>
                            <td><a href="skype:ashsihkedia1294?call">ashishkedia1294</a></td>
                        <tr/>
                        <tr>
                            <td><span class="sociallinkedin"></span>LinkedIn</td>
                            <td>:</td>
                            <td><a href="https://in.linkedin.com/in/ashish1294">Ashish Kedia</a></td>
                        <tr/>
                        <tr>
                            <td><span class="socialacademia"></span>Academia</td>
                            <td>:</td>
                            <td><a href="http://nitk.academia.edu/AshishKedia">AshishKedia</a></td>
                        <tr/>
                        <tr>
                            <td><span class="socialtwitter"></span>Twitter</td>
                            <td>:</td>
                            <td><a href="https://twitter.com/ashish1294">@ashish1294</a></td>
                        <tr/>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="hr"></div>
{% endblock %}
{% block scripts %}{% endblock %}