{% extends "base.html"%}
{%block title%}Ashish Kedia | Home{%endblock%}
{% load staticfiles %}
{%block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{%endblock%}
{%block content%}
    <!-- SLIDER 
    ================================================== -->
    <div id="ei-slider" class="ei-slider">
        <ul class="ei-slider-large">
            <li>
            <img src="{% static 'images/slide/bug.jpg' %}" alt="image05" class="responsiveslide">
            <div class="ei-title">
                <h2>Team</h2>
                <h3>Effort</h3>
            </div>
            </li>
            <li>
            <img src="{% static 'images/slide/floyd.jpg' %}" alt="image01" class="responsiveslide">
            <div class="ei-title">
                <h2>Try to</h2>
                <h3>Listen</h3>
            </div>
            </li>
            <li>
            <img src="{% static 'images/slide/argue.jpg' %}" alt="image02" class="responsiveslide">
            <div class="ei-title">
                <h2>Dare to</h2>
                <h3>Argue</h3>
            </div>
            </li>
            <li>
            <img src="{% static 'images/slide/code.jpg' %}" alt="image03" class="responsiveslide">
            <div class="ei-title">
                <h2>Keep</h2>
                <h3>Coding</h3>
            </div>
            </li>
            <li>
            <img src="{% static 'images/slide/icpc.jpg' %}" alt="image04" class="responsiveslide">
            <div class="ei-title">
                <h2>Work</h2>
                <h3>Hard</h3>
            </div>
            </li>
            <li>
            <img src="{% static 'images/slide/memories.jpg' %}" alt="image06" class="responsiveslide">
            <div class="ei-title">
                <h2>Make</h2>
                <h3>Memories</h3>
            </div>
            </li>
            <li>
            <img src="{% static 'images/slide/yourself.jpg' %}" alt="image07" class="responsiveslide">
            <div class="ei-title">
                <h2>Always</h2>
                <h3>Smile</h3>
            </div>
            </li>
        </ul>
        <!-- slider-thumbs -->
        <ul class="ei-slider-thumbs">
            <li class="ei-slider-element">Current</li>
            <li><a href="#">Slide 1</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb01"/></li>
            <li><a href="#">Slide 2</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb02"/></li>
            <li><a href="#">Slide 3</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb03"/></li>
            <li><a href="#">Slide 4</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb04"/></li>
            <li><a href="#">Slide 5</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb05"/></li>
            <li><a href="#">Slide 6</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb06"/></li>
            <li><a href="#">Slide 7</a><img src="{% static 'images/thumb.gif' %}" class="slideshowthumb" alt="thumb07"/></li>
        </ul> 
    </div>
    <div class="minipause"> </div>
    <!-- SUBHEADER
    ================================================== -->
    <div id="subheader">
        <div class="row">
            <div class="twelve columns">
                <p class="text-center">
                     "Happiness is easy. It is just a change of mind"
                </p>
            </div>
        </div>
    </div>
    <!-- ANIMATED COLUMNS 
    ================================================== -->
    <div class="row">
        <div class="twelve columns">
            <ul class="ca-menu" id="hell">
                <li>
                <a href="#hell">
                <span class="ca-icon">U</span>
                <div class="ca-content">
                    <h2 class="ca-main">Know Me</h2>
                    <h3 class="ca-sub">Find Out More About Me</h3>
                </div>
                </a>
                </li>
                <li>
                <a href="https://www.github.com/ashish1294">
                <span class="ca-icon">H</span>
                <div class="ca-content">
                    <h2 class="ca-main">Work Sample</h2>
                    <h3 class="ca-sub">Codes Written By Me</h3>
                </div>
                </a>
                </li>
                <li>
                <a href="#">
                <span class="ca-icon">N</span>
                <div class="ca-content">
                    <h2 class="ca-main">Alternate<br/> Home Pages</h2>
                    <h3 class="ca-sub">Full slider, boxed or none</h3>
                </div>
                </a>
                </li>
                <li>
                <a href="https://drive.google.com/file/d/0B6A-3_6rwie9Y19xMzFyb3hUN2M/view?usp=sharing">
                <span class="ca-icon">K</span>
                <div class="ca-content">
                    <h2 class="ca-main">Resume</h2>
                    <h3 class="ca-sub">Download in PDF</h3>
                </div>
                </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- CONTENT 
    ================================================== -->
    <div class="row">
        <div class="twelve columns">
            <p>
                Hi, I am Ashish Kedia, a pre-final (junior) year undergraduate student from India. I code and just code. I will be interning at Google, San Francisco from 11<sup>th</sup> May to 31<sup>st</sup> July, 2015. I love to travel and meet new people. Currently, I am seeking a full-time software engineering role anywhere around the globe. To know more about me <a href="/aboutme">click here</a>.
            </p>
            <div class="centersectiontitle">
                <h4>At A Glance</h4>
            </div>
        </div>
        <div class="four columns">
            <h5>Education</h5>
            <p>
                Undergraduate Student at National Institute of Technology, Karnataka, Surathkal, India.
                <br/>
                Major in Information Technology
                <br/>
                Batch of 2016
            </p>
            <p>
                <a href="#" class="readmore">Learn more</a>
            </p>
        </div>
        <div class="four columns">
            <h5>From</h5>
            <p>
                Born and brought up in Kolkata (the city of Joy), West Bengal India.
                <br/>
                Currently living in the city of Mangalore, Karnataka, India.
            </p>
            <p>
                <a href="#" class="readmore">Know more</a>
            </p>
        </div>
        <div class="four columns">
            <h5>Experience</h5>
            <p>
                Intern at Google, San Francisco Office.
                <br/>
                Past Internships - Indian Institute of Technology, Bombay and SimpleWealth
            </p>
            <p>
                <a href="#" class="readmore">See more</a>
            </p>
        </div>
    </div>
    <div class="hr">
    </div>


    <!-- TESTIMONIALS 
    ================================================== -->

    <div class="row">
        <div class="twelve columns">
            <div class="centersectiontitle">
                <h4>Quotes that have shaped me</h4>
            </div>
            <div id="testimonials">
                <blockquote>
                    <p>"There is no secret ingredient !" <cite>Kung Fu Panda</cite></p>
                </blockquote>
                <blockquote>
                    <p> "Remember hope is a good thing, maybe the best of things, and no good thing ever dies. Fear can hold you prisoner hope can set you free"<cite>The Shawshank Redemption</cite></p>
                </blockquote>
                <blockquote>
                    <p>
                        "You might never fail on the scale I did, but some failure in life is inevitable. It is impossible to live without failing at something, unless you live so cautiously that you might as well not have lived at all - in which case, you fail by default." <cite>J. K. Rowling</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "It's only after we've lost everything that we're free to do anything" <cite>Tyler Durden, Fight Club (Movie)</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "Experience is what you get when you didn't get what you wanted. And experience is often the most valuable thing you have to offer." <cite>Randy Pausch, The Last Lecture</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "The training is nothing. The will is everything. The will to act ! " <cite>Ras al Ghul, Batman Begins</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "You are not haunted by war, you miss it !" <cite>Sherlock Holmes</cite>
                    </p>
                </blockquote>
                <blockquote>
                    <p>
                        "Everyday life is like programming, I guess. If you love something you can put beauty into it. " <cite>Donald Knuth</cite>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
{%endblock%}
{%block scripts%}{%endblock%}