{% extends "base.html"%}
{%block title%}Ashish Kedia | Academic Career {%endblock%}
{% load staticfiles %}
{%block head%}
    <style type="text/css">
        .list_para {
            padding-left: 20px;
            margin-bottom: 10px;
        }
        .techskill p{
            text-decoration: underline;
            font-weight: bold;
            font-size: larger;
            text-align: center;
        }
        .techskill span {
            font-weight: 900;
        }
    </style>
{% endblock %}
{% block content%}
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                 My Professional Career
            </p>
            <p class="right">
                 <a href="/career/academic">View my Academic Career</a>
            </p>
        </div>
    </div>
</div>
<div class="hr">
</div>
<div class="row">
    <div class="twelve columns">
        <h1><b>Summer Internship <span style="float: right;">May - July, 2015</span></b></h1>
        <hr/>
        <p>
            I will be interning at Google's San Francisco Office. Working for Google is like a dream come true for me. I am very excited and anxiously waiting for the summer.
        </p>
        <p>
            I will be working with the Technical Infrastructure (Cloud Storage) team. I will post more details once I know (:P)
        </p>
        <div class="centersectiontitle">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>Organization</b> : <a href="https://www.google.com/">Google</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Location</b> : San Francisco, California, United States
        </p>
        <p class="list_para">
            &#x2714; <b>Duration</b> : 12 weeks - 11<sup>th</sup> May, 2015 to 31<sup>st</sup> July, 2015
        </p>
        <br />
        <h1><b>Winter Internship <span style="float: right;">Dec, 2014</span></b></h1>
        <hr/>
        <p>
            During my short 1 month winter break, I interned at SimpleWealth, Bangalore. SimpleWealth is a fin-tech startup that helps users understand their finances, increase financial knowledge and grow wealth through simple steps. I had an opportunity to learn a lot during my internship. The experience exposed me to real-life problems in industry. My co-workers and mentors were extremely talented and I kept learning new things from them every day. The start-up was located in city downtown and we ate at different place 
        </p>
        <p>
            <a href="https://drive.google.com/open?id=0B6A-3_6rwie9ZnYtVklVenlFVFU&authuser=0">Click here</a> to view the certificate of experience.
        </p>
        <div class="centersectiontitle">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>Organization</b> : <a href="http://www.simplewealth.in/" target="_blank">SimpleWealth</a> (Metis Analytics Pvt. Ltd)
        </p>
        <p class="list_para">
            &#x2714; <b>Location</b> : Bangalore, India
        </p>
        <p class="list_para">
            &#x2714; <b>Duration</b> : 30 days - 2<sup>nd</sup> December, 2014 to 2<sup>nd</sup> January, 2015.
        </p>
        <p class="list_para">
            &#x2714; <b>Project</b> : Design and Implementation of Cloud Data Synchronization on Android Platform
        </p>
        <div class="centersectiontitle">
            <h4>Project Details</h4>
        </div>
        <p>
            My team consisted of 2 people. Our task was to implement methods to synchronize data between an android client and central server. 
        </p>
        <br/>
        <h1><b>Primary School <span style="float: right;">2000 - 2010</span></b></h1>
        <hr/>
        <p>
            I attended Nopany High (formerly known as Shri Daulatram Nopany Vidyalaya). I studied there for 10 years at a stretch. Academically, I was always among the best performers in the class - especially in mathematics. I started learn advance mathematics and programming in my primary school itself. I also played a couple of leardership roles.
        </p>
        <div class="centersectiontitle">
            <h4>Quick Facts</h4>
        </div>
        <p class="list_para">
            &#x2714; <b>School</b> : <a href="http://www.nopanyhigh.com/" target="_blank">Nopany High, Kolkata</a> (formerly known as Shri Daulatram Nopany Vidyalaya)
        </p>
        <p class="list_para">
            &#x2714; <b>Affiliation</b> : <a href="http://www.wbbse.org/" target="_blank">West Bengal Board of Secondary Education (WBBSE)</a>
        </p>
        <p class="list_para">
            &#x2714; <b>Score</b> : 85%. <a href="https://drive.google.com/open?id=0B6A-3_6rwie9Rl9xR2JwSW80c2M&authuser=0" target="_blank">Click here</a> to view marksheet.
        </p>
    </div>
</div>
{% endblock%}