{% extends "project.html" %}
{% load staticfiles %}
{% block description %}
	  <p>
        It is an android application for Amateur Astronomy Club (formerly known as Star Gazing Club), NITK Surathkal. 
        The purpose of this application was to spread awareness about the events conducted by the club throughout 
        the year and keep the users updated.
    </p>
    <p>
        This application is mostly a static one with not much dynamic content as of now. It uses CSV file to store data. 
        Different tools, features and functions provided by Android SDK were extensively used in this application.
    </p>
{% endblock %}
{% block tabs %}
	<dl class="tabs">
        <dd class="active"><a href="#simple1">Features</a></dd>
        <dd><a href="#simple2"></a></dd>
    </dl>
    <ul class="tabs-content">
        <li class="active" id="simple1Tab">
            <p>
                <img src="{% static 'images/check.png' %}" alt=""> Download the latest releases of all the newsletter and magazines by AAC, NITK
            </p>
            <p>
                <img src="{% static 'images/check.png' %}" alt=""> Calculate your weight on different planets and other celestial objects. Just Enter your weight on Earth
            </p>
            <p>
                <img src="{% static 'images/check.png' %}" alt=""> See and know about all the members of the club. The list is out-dated as of now
            </p>
            <p>
                <img src="{% static 'images/check.png' %}" alt=""> Contact Amateur Astronomy Club, NITK directly from the application
            </p>
            <p>
                <img src="{% static 'images/check.png' %}" alt=""> Custom Styles for GUI Elements - New Icons and stuff like that
            </p>
            <p>
                <img src="{% static 'images/check.png' %}" alt=""> Custom animations in List Views and Activity transitions
            </p>
        </li>
        <li id="simple2Tab">
        </li>
    </ul>
{% endblock %}